body {
	margin-top: 20px;
}

textarea {
	width: 100%;
	font-size: large;
	height: 150px;
}

h2 {
	text-align: center;
}

#sidepanel {
	padding: 4px;
	border: thin solid #ddd;
	margin-top: 53px;
}

.progress-bar {
	min-width: 2%;
}

.right {
	text-align: right;
}

.black {
	background-color: #666;

	textarea {
		background-color: #444;
		color: #BBB;
	}

	input[type="text"] {
		background-color: #444;
		color: #BBB;
		border-color: #444;
	}

	label {
		color: #DDD;
	}

	span {
		color: #DDD;
	}

	a[role='tab'] {
		color: #DDD;
	}

	li.active[role='presentation']>a {
		color: lime;
		background-color: inherit;
	}

	.progress {
		background-color: #888;
	}

	#sync {
		background-color: #666;
		color: #DDD;
	}
}

.font-default {
	font-family: monospace;
}

.font-DroidSansMono {
	font-family: "Droid Sans Mono" monospace;
}

.font-Consolas {
	font-family: "Consolas" monospace;
}

.font-Menlo {
	font-family: "Menlo" monospace;
}